# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
@EXPLICIT
https://repo.anaconda.com/pkgs/main/osx-arm64/bzip2-1.0.8-h620ffc9_4.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ca-certificates-2023.08.22-hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/giflib-5.2.1-h80987f9_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/icu-72.1-he12128b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/jpeg-9e-h80987f9_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlicommon-1.0.9-h1a28f6b_7.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libcxx-16.0.6-h4653b0c_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libdeflate-1.17-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libffi-3.4.4-hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libiconv-1.17-he4db4b2_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/libsodium-1.0.18-h27ca646_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-base-1.2.4-h80987f9_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libzlib-1.2.13-h53f4e23_5.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/llvm-openmp-14.0.6-hc6e5704_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/ncurses-6.4-h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pixman-0.40.0-h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/python_abi-3.11-3_cp311.conda
https://repo.anaconda.com/pkgs/main/noarch/tzdata-2023c-h04d1e81_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/xz-5.4.2-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/expat-2.4.9-hc377ac9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lerc-3.0-hc377ac9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlidec-1.0.9-h1a28f6b_7.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libbrotlienc-1.0.9-h1a28f6b_7.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libgfortran5-12.2.0-h0eea778_31.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libllvm14-14.0.6-hd1a9a77_3.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libsqlite-3.42.0-hb31c410_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libxml2-2.10.4-h2aff0a6_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lz4-c-1.9.4-h313beb8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openssl-3.1.4-h0d3ecfb_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pcre-8.45-hc377ac9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/readline-8.2-h1a28f6b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tbb-2021.9.0-hffc8910_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/zeromq-4.3.4-hbdafb3b_1.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/zlib-1.2.13-h53f4e23_5.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-bin-1.0.9-h1a28f6b_7.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/gettext-0.21.0-h13f89a0_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libgfortran-5.0.0-12_2_0_hd922786_31.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libpng-1.6.39-h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libxslt-1.1.37-h1bd8bc4_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/sqlite-3.41.2-h80987f9_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/tk-8.6.12-hb8d0fd4_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/zstd-1.5.5-hd90d995_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/boost-cpp-1.78.0-h9ed8d21_3.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotli-1.0.9-h1a28f6b_7.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/freetype-2.12.1-h1192e45_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/glib-2.69.1-h514c7bf_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libopenblas-0.3.23-openmp_hc731615_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libtiff-4.5.0-h313beb8_2.conda
https://conda.anaconda.org/conda-forge/osx-arm64/python-3.11.0-h3ba56d0_1_cpython.conda
https://repo.anaconda.com/pkgs/main/noarch/appdirs-1.4.4-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/appnope-0.1.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/attrs-23.1.0-pyh71513ae_1.conda
https://conda.anaconda.org/conda-forge/noarch/backcall-0.2.0-pyh9f0ad1d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/backports-1.0-pyhd8ed1ab_3.conda
https://conda.anaconda.org/conda-forge/noarch/blinker-1.6.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/certifi-2023.7.22-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/charset-normalizer-2.0.4-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/click-8.1.7-unix_pyh707e725_0.conda
https://conda.anaconda.org/conda-forge/noarch/colorama-0.4.6-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/colour-0.1.5-py_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/cycler-0.11.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/debugpy-1.6.7-py311ha397e9f_0.conda
https://conda.anaconda.org/conda-forge/noarch/decorator-5.1.1-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/executing-1.2.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/fontconfig-2.14.1-hee714a5_2.conda
https://conda.anaconda.org/conda-forge/noarch/freetype-py-2.3.0-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/greenlet-2.0.1-py311h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/idna-3.4-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/itsdangerous-2.1.2-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/kiwisolver-1.4.4-py311h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lcms2-2.12-hba8e193_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libblas-3.9.0-17_osxarm64_openblas.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/libwebp-1.2.4-ha3663a8_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/llvmlite-0.40.1-py311hea943cd_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/lxml-4.9.2-py311h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/markupsafe-2.1.3-py311heffc1b2_1.conda
https://repo.anaconda.com/pkgs/main/noarch/munkres-1.1.4-py_0.conda
https://conda.anaconda.org/conda-forge/noarch/nest-asyncio-1.5.6-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/networkx-3.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/openblas-0.3.23-openmp_hf78f355_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/packaging-23.0-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/parso-0.8.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pickleshare-0.7.5-py_1003.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pickydict-0.4.0-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pkgutil-resolve-name-1.3.10-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/osx-arm64/psutil-5.9.5-py311he2be06e_0.conda
https://conda.anaconda.org/conda-forge/noarch/ptyprocess-0.7.0-pyhd3deb0d_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pure_eval-0.2.2-pyhd8ed1ab_0.tar.bz2
https://repo.anaconda.com/pkgs/main/noarch/pycparser-2.21-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/pygments-2.15.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyparsing-3.0.9-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pysocks-1.7.1-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pytz-2022.7-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/pyzmq-25.1.0-py311hb1af645_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/rpds-py-0.10.6-py311h94f323b_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/setuptools-67.8.0-py311hca03da5_0.conda
https://repo.anaconda.com/pkgs/main/noarch/six-1.16.0-pyhd3eb1b0_1.conda
https://conda.anaconda.org/conda-forge/noarch/tenacity-8.2.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/threadpoolctl-3.2.0-pyha21a80b_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/tornado-6.3.2-py311heffc1b2_0.conda
https://conda.anaconda.org/conda-forge/noarch/traitlets-5.9.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/typing_extensions-4.7.1-pyha770c72_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/wheel-0.38.4-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/wrapt-1.15.0-py311he2be06e_0.conda
https://conda.anaconda.org/conda-forge/noarch/zipp-3.15.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/ansi2html-1.8.0-py311h267d04e_2.conda
https://conda.anaconda.org/conda-forge/noarch/asttokens-2.2.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/backports.functools_lru_cache-1.6.5-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cairo-1.16.0-h302bd0f_5.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cffi-1.15.1-py311h80987f9_3.conda
https://conda.anaconda.org/conda-forge/noarch/comm-0.1.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/deprecated-1.2.14-pyh1a96a4e_0.conda
https://repo.anaconda.com/pkgs/main/noarch/fonttools-4.25.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib-metadata-6.8.0-pyha770c72_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib_resources-6.1.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/jedi-0.18.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/jinja2-3.1.2-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/joblib-1.3.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/libcblas-3.9.0-17_osxarm64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-arm64/liblapack-3.9.0-17_osxarm64_openblas.conda
https://conda.anaconda.org/conda-forge/noarch/matplotlib-inline-0.1.6-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/pexpect-4.8.0-pyh1a96a4e_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/pillow-9.4.0-py311h313beb8_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pip-23.1.2-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/plotly-5.18.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/noarch/python-dateutil-2.8.2-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/referencing-0.30.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/retrying-1.3.3-py_2.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/sqlalchemy-1.4.39-py311h80987f9_0.conda
https://conda.anaconda.org/conda-forge/noarch/tqdm-4.66.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/typing-extensions-4.7.1-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/werkzeug-3.0.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/brotlipy-0.7.0-py311h80987f9_1002.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/cryptography-39.0.1-py311h834c97f_2.conda
https://conda.anaconda.org/conda-forge/noarch/flask-3.0.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/importlib_metadata-6.8.0-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/jsonschema-specifications-2023.7.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/liblapacke-3.9.0-17_osxarm64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-arm64/numpy-1.24.4-py311hb8f3215_0.conda
https://conda.anaconda.org/conda-forge/noarch/platformdirs-3.8.1-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pycairo-1.23.0-py311hc7d53f0_0.conda
https://conda.anaconda.org/conda-forge/noarch/stack_data-0.6.2-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/wcwidth-0.2.6-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/biopython-1.78-py311h80987f9_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/blas-devel-3.9.0-17_osxarm64_openblas.conda
https://conda.anaconda.org/conda-forge/osx-arm64/boost-1.78.0-py311h5c64717_4.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/bottleneck-1.3.5-py311ha0d4635_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/contourpy-1.0.5-py311h48ca7d4_0.conda
https://conda.anaconda.org/conda-forge/noarch/jsonschema-4.19.1-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/jupyter_core-5.3.1-py311h267d04e_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numba-0.57.0-py311h7aedaa7_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/numexpr-2.8.4-py311h6dc990b_1.conda
https://conda.anaconda.org/conda-forge/noarch/periodictable-1.5.2-py_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/prompt-toolkit-3.0.39-pyha770c72_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pyopenssl-23.0.0-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/rlpycairo-0.2.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/blas-2.117-openblas.conda
https://conda.anaconda.org/conda-forge/noarch/jupyter_client-8.3.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/matplotlib-base-3.7.1-py311h7aedaa7_1.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/pandas-1.5.3-py311h6956b77_0.conda
https://conda.anaconda.org/conda-forge/noarch/prompt_toolkit-3.0.39-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/reportlab-4.0.4-py311heffc1b2_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/urllib3-1.26.16-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/ipython-8.14.0-pyhd1c38e8_0.conda
https://conda.anaconda.org/conda-forge/osx-arm64/parmed-4.2.2-py311h92babd0_1.conda
https://conda.anaconda.org/bioconda/noarch/pyteomics-4.6-pyh7cba7a3_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-arm64/rdkit-2023.03.2-py311hee821e4_0.conda
https://conda.anaconda.org/conda-forge/noarch/requests-2.31.0-pyhd8ed1ab_0.conda
https://repo.anaconda.com/pkgs/main/osx-arm64/seaborn-0.12.2-py311hca03da5_0.conda
https://conda.anaconda.org/conda-forge/noarch/venn-0.1.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/dash-2.14.0-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/noarch/geoparse-2.0.3-pyhd8ed1ab_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/ipykernel-6.24.0-pyh5fb750a_0.conda
https://repo.anaconda.com/pkgs/main/noarch/pooch-1.4.0-pyhd3eb1b0_0.conda
https://conda.anaconda.org/conda-forge/noarch/dash-core-components-2.0.0-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/dash-html-components-2.0.0-pyhd8ed1ab_1.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/dash-table-5.0.0-pyhd8ed1ab_1.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/scipy-1.10.1-py311hc76d9b0_1.conda
https://conda.anaconda.org/bioconda/noarch/matchms-0.17.0-pyh7cba7a3_0.tar.bz2
https://repo.anaconda.com/pkgs/main/osx-arm64/scikit-learn-1.3.0-py311h7aedaa7_0.conda
https://conda.anaconda.org/conda-forge/noarch/dash-bio-1.0.2-pyhd8ed1ab_0.tar.bz2
